
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}
body{
    font-family: Fleur De Leah;

}

.footer{
    width:100%;
    height:100px;
    background-color:#545050;
    margin-top: 5%;
    text-align: center;
    font-family:Fleur De Leah ;
}
.footer h3{
    padding-top: 2%;
}
