.hello{
    font-family: Fleur De Leah;
}

.welcom{
    font-family: Fleur De Leah;
}

.body{
    font-family: Fleur De Leah;
}
.hr1{
    width: 300px;
}
.text{
    font-family: Fleur De Leah;
    }

.fw-bold{
    font-family: Fleur De Leah;
}

.text2{
    font-family: Fleur De Leah;
}
.text2{
    font-family: Fleur De Leah;
}